body {
    font-family: 'Roboto', sans-serif;
    background-color: #171717;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .searchInput {
    padding: 15px;
    width: 60%;
    margin-bottom: 20px;
    background-color: #333;
    border: none;
    color: #fff;
  }
  
  .searchButton {
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .searchButton:hover {
    background-color: #0056b3;
  }
  
  .cocktailList {
    margin-top: 30px;
  }
  
  .cocktail {
    margin-bottom: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
  }
  
  .cocktail h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .cocktail img {
    max-width: 150px;
    display: block;
    margin: 0 auto 15px;
    border-radius: 5px;
  }
  
  .cocktail p {
    color: #bbb;
    font-size: 16px;
  }

  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  